<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EAI-BPM-Sample-Program/src/anonymous_inner_class/AnonymousInnerClassImplementInterface.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="anonymous_inner_class.AnonymousInnerClassImplementInterface"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EAI-BPM-Sample-Program"/>
</launchConfiguration>
